.row {
    margin-right: 0;
    margin-left: 0;
}

.card {
    box-shadow: 1px 1px 1px 1px #d3ccbb;
}

.card-title {
    font-family: Unbounded Light;
    font-size: 25px;
}

.card-buttons-group {
    text-align: right;
    padding: 10px;
}